doctype html
head
  title E.C.S - Login
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='icon', type='image/png', href='core/img/favicon.ico')
  // ===============================================================================================
  link(rel='stylesheet', type='text/css', href='vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet', type='text/css', href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  // ===============================================================================================
  link(rel='stylesheet', type='text/css', href='fonts/iconic/css/material-design-iconic-font.min.css')
  // ===============================================================================================
  link(rel='stylesheet', type='text/css', href='vendor/animate/animate.css')
  // ===============================================================================================
  link(rel='stylesheet', type='text/css', href='vendor/css-hamburgers/hamburgers.min.css')
  // ===============================================================================================
  link(rel='stylesheet', type='text/css', href='vendor/animsition/css/animsition.min.css')
  // ===============================================================================================
  link(rel='stylesheet', type='text/css', href='vendor/select2/select2.min.css')
  // ===============================================================================================
  link(rel='stylesheet', type='text/css', href='vendor/daterangepicker/daterangepicker.css')
  // ===============================================================================================
  link(rel='stylesheet', type='text/css', href='css/util.css')
  link(rel='stylesheet', type='text/css', href='css/main.css')
  // ===============================================================================================
.limiter
  .container-login100
    .wrap-login100
      form.login100-form.validate-form(action = 'login/login_process', method='post')
        span.login100-form-title.p-b-26
          | E.C.S
        span.login100-form-title.p-b-48
          i.zmdi.zmdi-font
        .wrap-input100.validate-input(data-validate='Enter ID')
          input.input100(type='text', name='userId')
          span.focus-input100(data-placeholder='User')
        .wrap-input100.validate-input(data-validate='Enter password')
          span.btn-show-pass
            i.zmdi.zmdi-eye
          input.input100(type='password', name='pass')
          span.focus-input100(data-placeholder='Password')
        .container-login100-form-btn
          .wrap-login100-form-btn
            .login100-form-bgbtn
            button.login100-form-btn
              | Login
        div(style="text-align:left;margin-top:10px; margine-left:10px; color:red;") #{wrongText}
        .text-center.p-t-115
          span.txt1
            | Made by Semin
#dropDownSelect1
// ===============================================================================================
script(src='vendor/jquery/jquery-3.2.1.min.js')
// ===============================================================================================
script(src='vendor/animsition/js/animsition.min.js')
// ===============================================================================================
script(src='vendor/bootstrap/js/popper.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
// ===============================================================================================
script(src='vendor/select2/select2.min.js')
// ===============================================================================================
script(src='vendor/daterangepicker/moment.min.js')
script(src='vendor/daterangepicker/daterangepicker.js')
// ===============================================================================================
script(src='vendor/countdowntime/countdowntime.js')
// ===============================================================================================
script(src='js/main.js')
